VITE_APP_NAME=pakt
VITE_API_URL=http://localhost:8790
VITE_IPFS_GATEWAY_URL=https://gateway.pinata.cloud/ipfs/
VITE_WALLETCONNECT_PROJECT_ID=
VITE_FACTORY_ADDRESS=
VITE_ROUTER_ADDRESS=
VITE_QUOTE_PRICER_ADDRESS=
VITE_LOCKER_ADDRESS=
VITE_FEE_ESCROW_ADDRESS=
VITE_LAUNCH_CONFIG_ID=0
